<div class="right-col">
  <div ng-include="'./templates/header.html'"></div>

  <div class="main-content">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-xl-6">
          <div class="card card-body">
            <div class="display-4 mb-4">mBTC <strong>542.87652</strong></strong></div>
            <h4 class="fw-200">Balance</h4>
            <hr>
            <div class="display-4 mb-4">EUR 404.40</div>
            <h4 class="fw-200">Countervalue</h4>
            <hr>
            <div class="action-btn mb-4 mt-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#send-money">SEND</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#receive-money">RECIVE</button>
            </div>
            <h4 class="fw-200">Action</h4>
          </div>
        </div>
      </div>


    

      <h4 class="">Last Operations</h4>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Date and Time</th>
            <th>Address</th>
            <th>Counter Value</th>
            <th>Ammount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>07/21/2017 at 12:01 PM</td>
            <td>Dsdd5R6JJKHjfhghfsa666GJSDKJ</td>
            <td>EUR +0.17</td>
            <td>mBTC +1</td>
          </tr>
          <tr>
            <td>07/21/2017 at 12:01 PM</td>
            <td>Dsdd5R6JJKHjfhghfsa666GJSDKJ</td>
            <td>EUR +0.17</td>
            <td>mBTC +1</td>
          </tr>
          <tr>
            <td>07/21/2017 at 12:01 PM</td>
            <td>Dsdd5R6JJKHjfhghfsa666GJSDKJ</td>
            <td>EUR +0.17</td>
            <td>mBTC +1</td>
          </tr>
          <tr>
            <td>07/21/2017 at 12:01 PM</td>
            <td>Dsdd5R6JJKHjfhghfsa666GJSDKJ</td>
            <td>EUR +0.17</td>
            <td>mBTC +1</td>
          </tr>
          <tr>
            <td>07/21/2017 at 12:01 PM</td>
            <td>Dsdd5R6JJKHjfhghfsa666GJSDKJ</td>
            <td>EUR +0.17</td>
            <td>mBTC +1</td>
          </tr>
          <tr>
            <td>07/21/2017 at 12:01 PM</td>
            <td>Dsdd5R6JJKHjfhghfsa666GJSDKJ</td>
            <td>EUR +0.17</td>
            <td>mBTC +1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>