<div class="d-flex align-items-center justify-content-center h-100">
<div class="text-center w-100">
	<div class="navbar-brand"><img class="mr-2" src="images/wallet.svg" /> tinyblocks wallet <strong>Bitcoin</strong></div>
	<div class="mid-section py-5 my-5">
		<h5 class=" fw-200">To begin, connect and unlock your Tinyblocks Wallet.</h5>
		<p class="fw-200">if your device supports multipal currencies, open the desired app.</p>
	</div>
	<button type="button" class="btn btn-sm btn-primary" id="landing-hide-btn">Continue without a key</button>
</div>
</div>



